<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="email" value="shahanmustafa@gmail.com" />
    <add key="password" value="realmadridcr7" />
    <add key="domain" value="Gmail" />
    <add key="from" value="cs.online@imsecurities.com.pk" />
    <add key="subject" value="Online Second Level Password" />
    <add key="gmailPort" value="995" />
    <add key="gmailHostName" value="pop.gmail.com" />

  </appSettings>
</configuration>